body{
    font-family: Arial;
    margin: 30px;
    background: #f4f4f4;
}

h2{
    color: #333;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table, th, td{
    border: 1px solid #ccc;
}

th, td{
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    padding: 8px 12px;
    background: blue;
    color: white;
    border-radius: 5px;
}

a:hover{
    opacity: 0.8;
}

img{
    border-radius: 5px;
}